# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
__pycache__/
.idea
*.iml
*.orig
*.ini
# .tfvars files
*~HEAD
*backup
*.tfvars
*.ini
tmp
lambda
*~HEAD
*backup
id_rsa*
.terraform.lock.hcl
.terraform.tfstate.lock.info
